name: nodejs
on: [pull_request, push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18, 20]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v5.0.0
    - name: Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4.4.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - name: Install dependencies
      uses: bahmutov/npm-install@v1.10.10
      with:
        useLockFile: false
    - name: npm ls
      run: npm ls
    - name: Test
      run: npm test
